// Grand Central Station
@import 'google-homepage';
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700');

.googlestyle{
  color: red;
  font-size: 5em;
  margin: -.5em 0 -.25em 0;
  font-family: 'Roboto Condensed', sans-serif;
}
#stage h1{
  font-size: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  position: absolute;
  top: -.25em;
  left: 3.5em;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}
/* last frames */
#stage:hover h1{
  
  opacity: 1;
  
}
#flashingcolors{
  -webkit-animation: flash .5s infinite;  
  -moz-animation: flash .5s infinite;  
  -o-animation: flash .5s infinite;  
  animation: flash .5s infinite;

}
#movingfinger{
  -webkit-animation: wiggle .5s infinite;  
  -moz-animation: wiggle .5s infinite;  
  -o-animation: wiggle .5s infinite;
  animation: wiggle .5s infinite;
}

@keyframes wiggle{
  0%{
    transform: translate(0,0)
    
  }
  100%{
    transform: translate(1px,1px)
    
  }
  
}

@keyframes flash{
  0%{
    fill: maroon;
  }
  20%{
    fill: green;
  }
  40%{
    fill: purple
  }
  60%{
    fill: cyan;
  }
  80%{
    fill: white
  }
  100%{
    fill: maroon;
  }
}

